<div class="container">
  <h1 class="mt-5">Ordained Minister</h1>
  <div class="row">
    <div *ngFor="let person of weddingParty | weddingPartyMemberFilter:[weddingPartyMemberTypes.ordainedMinister]"
      class="card-group mb-5 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img class="card-img-top" src="/assets/bridalPartyImages/{{person.picture}}" alt="{{person.name}}">
        <div class="card-body">
          <h5 class="card-title">{{person.name}}</h5>
          <!-- <p class="card-text">{{person.description}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <h1>Maid of Honor and Best Man</h1>
  <div class="row">
    <div
      *ngFor="let person of weddingParty | weddingPartyMemberFilter:[weddingPartyMemberTypes.maidOfHonor, weddingPartyMemberTypes.bestMan]"
      class="card-group mb-5 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img class="card-img-top" src="/assets/bridalPartyImages/{{person.picture}}" alt="{{person.name}}">
        <div class="card-body">
          <h5 class="card-title">{{person.name}}</h5>
          <!-- <p class="card-text">{{person.description}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <h1>Bridesmaids</h1>
  <div class="row">
    <div *ngFor="let person of weddingParty | weddingPartyMemberFilter:[weddingPartyMemberTypes.bridesmaid]"
      class="card-group mb-5 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img class="card-img-top" src="/assets/bridalPartyImages/{{person.picture}}" alt="{{person.name}}">
        <div class="card-body">
          <h5 class="card-title">{{person.name}}</h5>
          <!-- <p class="card-text">{{person.description}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <h1>Groomsmen</h1>
  <div class="row">
    <div *ngFor="let person of weddingParty | weddingPartyMemberFilter:[weddingPartyMemberTypes.groomsman]"
      class="card-group mb-5 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img class="card-img-top" src="/assets/bridalPartyImages/{{person.picture}}" alt="{{person.name}}">
        <div class="card-body">
          <h5 class="card-title">{{person.name}}</h5>
          <!-- <p class="card-text">{{person.description}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <h1>Flower Girl</h1>
  <div class="row">
    <div *ngFor="let person of weddingParty | weddingPartyMemberFilter:[weddingPartyMemberTypes.flowerGirl]"
      class="card-group mb-5 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img class="card-img-top" src="/assets/bridalPartyImages/{{person.picture}}" alt="{{person.name}}">
        <div class="card-body">
          <h5 class="card-title">{{person.name}}</h5>
          <!-- <p class="card-text">{{person.description}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <h1>Ring Bearer</h1>
  <div class="row">
    <div *ngFor="let person of weddingParty | weddingPartyMemberFilter:[weddingPartyMemberTypes.ringBearer]"
      class="card-group mb-5 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img class="card-img-top" src="/assets/bridalPartyImages/{{person.picture}}" alt="{{person.name}}">
        <div class="card-body">
          <h5 class="card-title">{{person.name}}</h5>
          <!-- <p class="card-text">{{person.description}}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>