<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a (click)="navLinkClicked()" class="nav-link" [routerLink]="['/']">
        <img class="navbar-brand" src="/assets/favicon-white.png">
    </a>
    <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a (click)="navLinkClicked()" class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a (click)="navLinkClicked()" class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/Details']">Details</a>
        </li>
        <li class="nav-item">
          <a (click)="navLinkClicked()" class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/About']"  [routerLinkActiveOptions]="{exact:true}">About Us</a>
        </li>
        <li class="nav-item">
          <a (click)="navLinkClicked()" class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/WeddingParty']">Wedding Party</a>
        </li>
        <li class="nav-item">
          <a (click)="navLinkClicked()" class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/Registry']">Registry</a>
        </li>
        <li class="nav-item">
          <a (click)="navLinkClicked()" class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/Rsvp']">RSVP</a>
        </li>
      </ul>
    </div>
  </nav>