.photo
    max-width: 100%
.container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 10px
    margin-bottom: 10%
    min-height: 80vh
.title, .date
    font-family: the_artisanregular
.title
    font-size: 3.2em
.date
    margin-top: 10px
    width: 50%