<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 date">06.19.2021</h1>
        <p class="lead venue"><a href="https://www.curryestate.com/" target="_blank" >Le Chambord at Curry Estate</a></p>
        <p class="lead address"><a href="https://www.google.com/maps/place/2737+NY-52,+Hopewell+Junction,+NY+12533/@41.5631674,-73.7784039,17z/data=!3m1!4b1!4m5!3m4!1s0x89dd463c116a9adb:0x889589de2e7b77e!8m2!3d41.5631674!4d-73.7762152" target="_blank">2737 NY-52, Hopewell Junction, NY 12533</a></p>
        <br />
        <p class="lead more-info">Please RSVP no later than May 25th</p>
        <br />
        <p class="lead schedule">Ceremony at 4:30pm</p>
        <p class="lead schedule">Cocktail Hour at 5:00pm</p>
        <p class="lead schedule">Reception at 6:00pm</p>
        <br />
        <p class="lead more-info">All guests must be fully vaccinated or obtain a negative Covid-19 test within three days of the event</p>
        <br />
        <p class="lead more-info-sm">Hotel rooms are reserved at TBD</p>
        <p class="lead more-info-sm">To make a reservation please call: 111-111-1111</p>
    </div>
</div>